<div>|
<br>
		<h3>Conference Name!</h3>
			<input type="text" class="form-control input-hg" ng-model="name" placeholder="name" />
		<h3>Location</h3>
			<input type="text" class="form-control input-hg" ng-model="location" placeholder="location" />
		<h3>Date</h3>
			<input type="text" class="form-control input-hg" ng-model="date" placeholder="date" />
		<h3>Description</h3>
			<input type="text" class="form-control input-hg" ng-model="description" placeholder="description" />
		<h3>Conference ID</h3>
			<input type="text" class="form-control input-hg" ng-model="id" placeholder="id" />
		<h3>Conference Tags</h3>
			<input type="text" class="form-control input-hg" ng-model="tagsE" placeholder="tags" />
  		<button class="btn btn-success btn-sm" ng-click="create()">Create Event</button>
  		<button class="btn btn-success btn-sm" ng-click="remove()">Delete Event</button>
	<br>
	</div>
